@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 282 24% 16%;
    
    --card: 0 0% 100%;
    --card-foreground: 282 24% 16%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 282 24% 16%;
    
    --primary: 359 100% 71%;
    --primary-foreground: 282 24% 16%;
    
    --secondary: 261 24% 48%;
    --secondary-foreground: 0 0% 100%;
    
    --muted: 261 24% 48%;
    --muted-foreground: 283 19% 15%;
    
    --accent: 43 93% 72%;
    --accent-foreground: 282 24% 16%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    
    --border: 282 24% 16%;
    --input: 282 24% 16%;
    --ring: 282 24% 16%;
    
    --radius: 0.5rem;

    --pattern-color: 0 0% 95%;
  }
  
  .dark {
    --background: 230 30% 21%;
    --foreground: 0 0% 100%;
    
    --card: 230 30% 21%;
    --card-foreground: 0 0% 100%;
    
    --popover: 230 30% 21%;
    --popover-foreground: 0 0% 100%;
    
    --primary: 351 78% 84%;
    --primary-foreground: 230 30% 21%;
    
    --secondary: 231 31% 43%;
    --secondary-foreground: 0 0% 100%;
    
    --muted: 231 31% 43%;
    --muted-foreground: 226 23% 82%;
    
    --accent: 351 78% 84%;
    --accent-foreground: 230 30% 21%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    
    --border: 237 33% 12%;
    --input: 237 33% 12%;
    --ring: 226 23% 82%;

    --pattern-color: 231 31% 23%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    transition: background-color .2s linear;
    background-image: 
      linear-gradient(to right, transparent 19px, hsl(var(--pattern-color)) 19px, hsl(var(--pattern-color)) 21px, transparent 21px),
      linear-gradient(to bottom, transparent 19px, hsl(var(--pattern-color)) 19px, hsl(var(--pattern-color)) 21px, transparent 21px),
      linear-gradient(to right, hsl(var(--pattern-color)) 1px, transparent 1px),
      linear-gradient(to bottom, hsl(var(--pattern-color)) 1px, transparent 1px);
    background-size: 40px 40px, 40px 40px, 40px 40px, 40px 40px;
    background-position: 0 0, 0 0, -1px -1px, -1px -1px;
  }
}